@model CleanArch.Application.ViewModels.ProductViewModel
@{ ViewData["Title"] = "Remover"; }

<h1>Remover</h1>

<h3>Tem certeza que deseja remover este produto?</h3>

<div>
    <h4>@Model.Name</h4>
    <p>@Model.Description</p>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Remover</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
